*{
    padding: 0px 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
}
.main{
    padding: 40px 40px;
    margin: 50px 50px;

    background-color: antiquewhite;
    border: 2px solid gray;
    height: auto;
    width: 95%;
}
.head{
    padding: 40px 40px;
    margin: 20px 20px;
    background-color: beige;
    height: auto;
    width: auto;
}
#head{
    font-size: 45px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
form{
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: bisque;
    height: 500px;
    width: auto;
}
#pno{
    padding-left: 500px;
    font-size: 20px;
    color: black;
    font-family: 'Segoe UI';
}
#box{
    padding-left: 300px;
    height: 150px;
    width: 50%;
    border: none;

}